.divSentenceEditorWrapper {
    width: 600px;
    height: 24rem;
    max-height: 24rem;
    position: relative;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.001em;
    display: flex;
    overflow-y: auto;
}

.divLineNumberWrapper {
    min-width: 90px;
    min-height: 100%;

    color: #237893;

    display: flex;
    flex-direction: column;
}

.lblLineNumber {
    width: 100%;
    padding-left: 15px;
    padding-right: 20px;
    user-select: none;
    text-align: right;
}

.divSentenceWrapper {
    flex-grow: 1;

    font-family: "Roboto Mono", monospace;

    overflow: visible;
    // @include thick-scroll-bar;
}

.taSentence {
    position: relative;
    top: 0;
    width: 100%;
    min-height: calc(100% - 4px);
    color: black;
    padding: 0;
    border: 0;
    resize: none;
    outline: 0;
    white-space: pre;
    overflow-y: hidden;
    background-color: transparent;
}

.divLockedSentenceWrapper {
    position: relative;
    top: 0;
    width: 100%;
    min-height: calc(100% - 4px);

    white-space: pre;
    overflow-y: hidden;
}

.spanConsumedChar {
    color: #9e9e9e;
}

.spanUnconsumedChar {
    color: #212121;
}
