.AnalysisControlWidget {
    &-root {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &-transition-group {
        display: flex;
        flex-direction: row;

        & :global(.MuiCollapse-wrapperInner) {
            margin-left: 0.4rem;
            margin-right: 0.4rem;
        }
    }
}
