.AnalysisControlWidget {
    &-root {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &-transition-group {
        display: flex;
        flex-direction: row;

        &
            :global(.MuiCollapse-root):not(:last-of-type)
            :global(.MuiCollapse-wrapperInner) {
            margin-right: 0.8rem;
        }
    }
}
